In [13]:
#!pip install mysql-connector-python

In [1]:
import mysql.connector

In [2]:
connection  = mysql.connector.connect(user="genpact", password="P123pp..", host="predictedoutcomesserver.mysql.database.azure.com", port=3306, database="predicted_outcomes_db", ssl_ca="{ca-cert filename}", ssl_disabled=False)
cursor = connection.cursor()

In [3]:
import mysql.connector

def transaction_id_label_inserter_for_entire_df_upload(df):
    try:
        connection  = mysql.connector.connect(user="genpact", password="P123pp..", host="predictedoutcomesserver.mysql.database.azure.com", port=3306, database="predicted_outcomes_db")
        cursor = connection.cursor()

        for index, row in df.iterrows():
            Transaction_Id = row['Transaction_Id']
            Sender_Country = row['Sender_Country']
            Sender_Sector = row['Sender_Sector']
            Bene_Country = row['Bene_Country']
            USD_amount= row['USD_amount']
            Transaction_Type = row['Transaction_Type']
            Sender_Type = row['Sender_Type']
            Bene_Type = row['Bene_Type']
            Time = row['Time']
            Year = row['Year']
            Month = row['Month']
            Day = row['Day']
            Label = row['Label']
            
            cursor.execute(f"INSERT INTO predicted_outcomes_db.predictions_made_by_model_table (Transaction_Id, Sender_Country, Sender_Sector, Bene_Country, USD_amount, Transaction_Type, Sender_Type, Bene_Type, Time, Year, Month, Day, Label) VALUES ('{Transaction_Id}', '{Sender_Country}', '{Sender_Sector}', '{Bene_Country}', '{USD_amount}', '{Transaction_Type}', '{Sender_Type}', '{Bene_Type}', '{Time}', '{Year}', '{Month}', '{Day}', '{Label}')")
            connection.commit()
    except mysql.connector.Error as error:
        print(error)
    finally:
        if (connection.is_connected()):
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [4]:
import pandas as pd
df = pd.read_csv("transformed.csv")
df.head()

,Transaction_Id,Sender_Country,Sender_Sector,Bene_Country,USD_amount,Label,Transaction_Type,Sender_Type,Bene_Type,Time,Year,Month,Day
0,QUICK-PAYMENT-10116,USA,15287.0,CANADA,622.78,0,QUICK-PAYMENT,JPMC-CLIENT,CLIENT,37440,2022,3,15
1,PAY-CHECK-9832,USA,38145.0,USA,989.09,0,PAY-CHECK,JPMC-CLIENT,JPMC-CLIENT,37440,2022,3,15
2,PAY-CHECK-9780,USA,14645.0,OTHERS,543.87,0,PAY-CHECK,JPMC-CLIENT,JPMC-COMPANY,37440,2022,3,15
3,MAKE-PAYMENT-9501,OTHERS,25040.0,USA,336.55,0,MAKE-PAYMENT,CLIENT,JPMC-CLIENT,37440,2022,3,15
4,QUICK-PAYMENT-9249,USA,34576.0,OTHERS,265.66,0,QUICK-PAYMENT,JPMC-CLIENT,COMPANY,37440,2022,3,15

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1063398 entries, 0 to 1063397
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Transaction_Id    1063398 non-null  object
 1   Sender_Country    1063398 non-null  object
 2   Sender_Sector     1063398 non-null  float64
 3   Bene_Country      1063398 non-null  object
 4   USD_amount        1063398 non-null  float64
 5   Label             1063398 non-null  int64
 6   Transaction_Type  1063398 non-null  object
 7   Sender_Type       1063398 non-null  object
 8   Bene_Type         1063398 non-null  object
 9   Time              1063398 non-null  int64
 10  Year              1063398 non-null  int64
 11  Month             1063398 non-null  int64
 12  Day               1063398 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 105.5+ MB

In [8]:

transaction_id_label_inserter_for_entire_df_upload(df[df["Label"]==1].head(1))

MySQL connection is closed

In [7]:
df.columns

Index(['Transaction_Id', 'Sender_Country', 'Sender_Sector', 'Bene_Country',
       'USD_amount', 'Label', 'Transaction_Type', 'Sender_Type', 'Bene_Type',
       'Time', 'Year', 'Month', 'Day'],
      dtype='object')

In [9]:
df[df["Label"]==1].head(1)

,Transaction_Id,Sender_Country,Sender_Sector,Bene_Country,USD_amount,Label,Transaction_Type,Sender_Type,Bene_Type,Time,Year,Month,Day
6,QUICK-PAYMENT-8964,USA,23505.0,OTHERS,857.13,1,QUICK-PAYMENT,JPMC-CLIENT,CLIENT,37440,2022,3,15