In [13]:
#!pip install mysql-connector-python

In [52]:
import mysql.connector

In [53]:
connection  = mysql.connector.connect(user="pavan_admin", password="P123pp..", host="predicted-transctions-database.mysql.database.azure.com", port=3306, database="predicted_transctions_email_and_analysis", ssl_ca="{ca-cert filename}", ssl_disabled=False)
cursor = connection.cursor()

In [54]:
import mysql.connector

def transction_id_label_insetor(df):
    try:
        connection = mysql.connector.connect(user="pavan_admin", password="P123pp..", host="predicted-transctions-database.mysql.database.azure.com", port=3306, database="predicted_transctions_email_and_analysis")
        cursor = connection.cursor()
        
        import mysql.connector

def transction_id_label_insetor(df):
    try:
        connection = mysql.connector.connect(user="pavan_admin", password="P123pp..", host="predicted-transctions-database.mysql.database.azure.com", port=3306, database="predicted_transctions_email_and_analysis")
        cursor = connection.cursor()
        
        for index, row in df.iterrows():
            transaction_id = row['Transaction_Id']
            label = row['Label']
            cursor.execute(f"INSERT INTO predicted_transactions_table_temp (Transaction_Id, Label) VALUES ('{transaction_id}', '{label}')")
            connection.commit()
    except mysql.connector.Error as error:
        print(error)
    finally:
        if (connection.is_connected()):
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [55]:
import pandas as pd
df = pd.read_csv("transformed.csv")
df.head()

,Transaction_Id,Sender_Country,Sender_Sector,Bene_Country,USD_amount,Label,Transaction_Type,Sender_Type,Bene_Type,Time,Year,Month,Day
0,QUICK-PAYMENT-10116,USA,15287.0,CANADA,622.78,0,QUICK-PAYMENT,JPMC-CLIENT,CLIENT,37440,2022,3,15
1,PAY-CHECK-9832,USA,38145.0,USA,989.09,0,PAY-CHECK,JPMC-CLIENT,JPMC-CLIENT,37440,2022,3,15
2,PAY-CHECK-9780,USA,14645.0,OTHERS,543.87,0,PAY-CHECK,JPMC-CLIENT,JPMC-COMPANY,37440,2022,3,15
3,MAKE-PAYMENT-9501,OTHERS,25040.0,USA,336.55,0,MAKE-PAYMENT,CLIENT,JPMC-CLIENT,37440,2022,3,15
4,QUICK-PAYMENT-9249,USA,34576.0,OTHERS,265.66,0,QUICK-PAYMENT,JPMC-CLIENT,COMPANY,37440,2022,3,15

In [56]:
transction_id_label_insetor(df = df[df["Label"]==1])

MySQL connection is closed

KeyboardInterrupt:

In [57]:
transction_id_label_insetor(df)

MySQL connection is closed

KeyboardInterrupt:

In [58]:

connection = mysql.connector.connect(user="pavan_admin", password="P123pp..", host="predicted-transctions-database.mysql.database.azure.com", port=3306, database="predicted_transctions_email_and_analysis")
cursor = connection.cursor()

# Extract values from DataFrame as a list of tuples
#values = [(row['Transaction_Id'], row['Label']) for index, row in df.iterrows()]

# Define the SQL query with placeholders
query = "INSERT INTO predicted_transactions_table_temp (Transaction_Id, Label) VALUES ('t7432643823', 1)"

# Execute the query with the list of tuples
#cursor.executemany(query, values)
cursor.execute(query)
        
# Commit the changes
connection.commit()